<div class="species-details">
  Species View
  <div class="name">Name: {{name}}</div>

  <div class="monsters">
    {{#each monster in monsters}}
      <div class="monster">
        stuff
      </div>
    {{/each}}  
  </div>
  
</div>