Monsters Index

<ul class="monsters">
  {{#each monster in model}}
    <li class="monster">{{#link-to 'monster' monster}}{{monster.name}}, a level {{monster.level}} {{monster.species.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}